@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-exo: 'Exo', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
